@model CardGame.Web.Models.RechnungVM
@{
    ViewBag.Title = "Rechnung";
}
<div class="ShopBackGround">
    <div class="ShopIndex">
        <h2>Rechnung</h2>
        <h4>Magical Tea party</h4>
        <h5>Simmeringer Hauptstraße 47-49</h5>
        <h5>1110 Wien</h5>
        <h5>UID: 12345678</h5>
        <h5>ReNr: 75647</h5>
        <h5>@DateTime.Now</h5>       
        
            <div>@Model.Vorname, @Model.Nachname</div>
        </div>
    </div>
