
@{
    ViewBag.Title = "Impressum";
}


<div class="ImpressumBackGround">
    <h2 class="ImpressumHeader">Impressum</h2>
    <div class="ImpressumBody">
        <p>Magical Tea Party</p>
        <p>Simmeringer Hauptstraße 47-49, 1110 Wien</p>
        <p>Tel: +43(1) 23 233 232</p>
        <p>Email: office.mtp@gmx.at</p>
        <p>Manuel Sandholzer</p>
</div>
</div>