@model IEnumerable<CardGame.DAL.Model.tbldeck>
@{
    ViewBag.Title = "Shop";
}

@foreach (var item in Model)
{
    <div class="CardPacksBackground">
        <div class="col-md-4">
            <img class="CardPacks" src="~/Content/Images/Card Pack.png" />
            @item.deckname
        </div>
        <div class="col-md-4">
            <img class="CardPacks" src="~/Content/Images/Card Pack.png" />
            @item.deckname
        </div>
        <div class="col-md-4">
            <img class="CardPacks" src="~/Content/Images/Card Pack.png" />
            @item.deckname
        </div>
    </div>
}

