@model IEnumerable<CardGame.DAL.Model.tbldeck>
@{
    ViewBag.Title = "Shop";
}
<div>
    <img class="deckPics" src="~/Content/Images/Card Pack.png" />
    <img class="deckPics" src="~/Content/Images/Card Pack.png" />
    <img class="deckPics" src="~/Content/Images/Card Pack.png" />
</div>