
@{
    ViewBag.Title = "Shop";
}

<p class="CardPacks">
    <img src="~/Content/Images/Card Pack.png" />
    <img src="~/Content/Images/Card Pack.png" />
    <img src="~/Content/Images/Card Pack.png" />
</p>