@model CardGame.Web.Models.BestsellerModel

@{
    ViewBag.Title = "Bestseller";
}

<div class="StatisticBackGround">
    <h2 class="StatisticHeader">Die Meist verkauften Packs</h2>
    <div class="StatisticBody">
        <h2>Für Juni, Juli, August</h2>
    </div>
</div>


<h2>juni, juli, aufsdggf</h2>


