@model CardGame.Web.Models.BestellStatisticVM
@{
    ViewBag.Title = "BestellStatistik";
}

<div class="ShopBackGround">
    <div class="ShopIndex">
        <h2>BestellStatistik</h2>

        @using (Html.BeginForm())

        {
            Html.DropDownListFor(m => m.AusgewJahr, new SelectList(Model.Jahre, Model.AusgewJahr));
            <button type="submit" value="senden">Auswählen</button>

        }

        <img src="@Model.Chart" />
        </div>
</div>