@font-face {
    font-family: 'Mermaid1001';
    src: url('../fonts/Mermaid1001.ttf') format('truetype');
}

* {
    font-family: Mermaid1001;
}

body {
    background-image: url("Images/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#footer{
    text-align: left;
    font-size: 20px;
    width: auto;
    position: fixed;
    bottom: 1%;
    color: white;
}



#menueleiste {
    background-color: #231514;
    font-size: 22px;
}

#Gamer {
}

.DiamantAnzeige {
    margin-top: 15px;
    text-align: center;
    color: #fff;
}

.navbar {
    height: 10px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #6C89C1;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #6B90DB;
    }

.navbar-brand {
    margin-top: 10px !important;
    color: #6C89C1 !important;
}

#LoginForm,
#RegisterForm {
    font-size:16px !important;
    text-align: center;
    /*margin-top: 70px;*/    
    float: right;
    color: #6C89C1;
}

.valimassage {
    margin-top: 5px;
    color:white;
}

.CardPacks{
    
}

.btn.btn-submit{
    background:url(../Content/Images/Button_hp.png);
    background-repeat:no-repeat;
    font-size:16px;
    height:40px;
    width:160px;   
    padding-right: 22px;
    padding-top: 2px;
    text-align:center;
    color: #FBCB74;    
}

.AGBHeader{
    margin-top:80px;
    color: #6B90DB;
    text-align:center;
}

.AGBBody{
    color:#6B90DB;
}

.ImpressumHeader{
    margin-top:80px;
    color:#6B90DB;
}

.ImpressumBody{
    font-size:20px;
    color:#6B90DB;
}

.editorFields{
    margin-top:10px;
}

