@font-face {
    font-family: 'Mermaid1001';
    src: url('../fonts/Mermaid1001.ttf') format('truetype');
}

* {
    font-family: Mermaid1001;
}

body {
    background-image: url("Images/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#footer {
    text-align: left;
    font-size: 20px;
    width: auto;
    position: fixed;
    bottom: 1%;
    color: white;
}



#menueleiste {
    background-color: #231514;
    font-size: 22px;
}

/*#Gamer {
}*/

.DiamantAnzeige {
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.navbar {
    height: 10px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #6C89C1;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #6B90DB;
    }

.navbar-brand {
    margin-top: 10px !important;
    color: #6C89C1 !important;
}

#LoginForm,
#RegisterForm
{
    width: 290px;
    font-size: 16px !important;
    text-align: center;
    margin-top: 70px;
    padding-top: 5px;
    float: right;
    color: #6C89C1;
    overflow: auto;
    background-image: url(../Content/Images/Dark-Background.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border: solid #2A292B;
}
.editaccountbackground {
    margin-top: 80px;
    text-align: center;
    height: 640px;
    width: 1000px; 
    background-image: url(../Content/Images/Dark-Background.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border: solid;
}

.editaccountHeader{
    margin-top: 20px;
    /*color: #6B90DB;*/
    color: #FEE9E4;
    text-align: center;
}

.editaccountbody{
    text-align: center;
    font-size: 20px;
    color: #6B90DB;
}


.valimassage {
    margin-top: 5px;
}

.CardPacks {
    width: 140px;
    height: 180px;
}

.diamantenBündel {
    width: 100px;
    height: 110px;
    margin-top:50px; 
}

.CardPacksBackground {
    background-image: url(../Content/Images/Dark-Background.jpg);
    background-repeat: no-repeat;
    margin-top: 150px;
    opacity: 0.8;
    border: solid;
    width: 1134px;
    height: 500px;
    text-align: center;
}

.btn.btn-submit {
    background: url(../Content/Images/Button_hp.png);
    background-repeat: no-repeat;
    font-size: 16px;
    height: 40px;
    width: 160px;
    padding-bottom: 8px;
    text-align: center;
    color: #FBCB74;
}

.AGBHeader {
    margin-top: 20px;
    color: #FEE9E4;
    text-align: center;
}

.AGBBody {
    margin-top: 20px;
    color: #6B90DB;
}

.StatisticBackGround{
    margin-top: 80px;
    text-align: center;
    height: 640px;
    width: 1200px;
    overflow: auto;
    background-image: url(../Content/Images/Dark-Background.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border: solid;
}


.StatisticHeader{
     margin-top: 20px;
    color: #FEE9E4;
    text-align: center;
}


.StatisticBody{
    margin-top: 20px;
    color: #6B90DB;
}


.AGBBackGround {
    margin-top: 80px;
    text-align: center;
    height: 640px;
    width: 1200px;
    overflow: auto;
    background-image: url(../Content/Images/Dark-Background.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border: solid;
}


.ImpressumHeader {
    color: #FEE9E4;
}

.ImpressumBody {
    text-align: center;
    font-size: 20px;
    color: #6B90DB;
}

.ImpressumBackGround {
    margin-top: 80px;
    text-align: center;
    height: auto;
    width: auto;
    overflow: auto;
    background-image: url(../Content/Images/Dark-Background.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border: solid;
}

.editorFields {
    margin-top: 10px;
}

.ShopBackGround {
    margin-top: 80px;
    text-align: center;
    height: auto;
    width: auto;
    overflow: auto;
    background-image: url(../Content/Images/Dark-Background.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    border: solid;
}

.ShopIndex {
    color: white;
    text-align: center;
    font-size:20px;    
}

.ShopTable {
    color: #6B90DB;
    text-align: center;
    margin-left:250px;
}
